@{
    var navItems = Web.Infrastructure.Navigation.Items;
    var currentRouteArray = Context.Request.Path.ToString().Split("/");
    var isMinified = ViewContext.HttpContext.Request.Cookies["isminified"] == "true";
    int pageIndex = 0;

    string mainNavButton = "btn-dark";
    string childNavButton = "btn-secondary";

    var currentUser = ViewContext.HttpContext.User.Identities.First().GetCurrentUser();

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Budgeting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/dot-luv/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Budgeting <i class="fa-solid fa-sack-dollar"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
            </div>
        </nav>
    </header>
    <section id="content-section">
        <nav id="nav" class="bg-dark position-relative float-left">
            <ul class="list-unstyled">
                @foreach (var nav in navItems)
                {
                    if (!nav.HasAccess(currentUser))
                        continue;

                    var additionalClass = nav.IsActiveRoute(currentRouteArray) ? " active" : "";
                    var isAnyChildActive = nav.Children != null && nav.Children.Any(x => x.IsActiveRoute(currentRouteArray));
                    if (!isAnyChildActive)
                        additionalClass += "collapsed ";

                    pageIndex++;

                    <li class="d-grid">
                        @if (!string.IsNullOrWhiteSpace(nav.Route))
                        {
                            <a class="btn @mainNavButton rounded-0 text-nowrap text-start @additionalClass"
                       asp-page="@nav.Route">
                                <i class="@nav.Icon me-1"></i>
                                <div>@nav.Name</div>
                            </a>
                        }
                        else if (nav.Children != null && nav.Children.Count > 0)
                        {
                            <button class="btn @mainNavButton rounded-0 text-nowrap text-strat @additionalClass"
                            type="button" data-bs-toggle="collapse" data-bs-target="#page_@pageIndex">
                                <i class="@nav.Icon me-1"></i>
                                <div>@nav.Name</div>
                            </button>

                            <ul class="list-unstyled collapse@(isAnyChildActive ? " show":"")" id="page_@pageIndex">
                                @foreach (var child in nav.Children)
                                {
                                    if (!child.HasAccess(currentUser))
                                        continue;

                                    var isChildActive = child.IsActiveRoute(currentRouteArray);
                                    <li class="d-grid">
                                        <a class="btn @childNavButton rounded-0 text-nowrap text-start @(isChildActive ? "active":"")"
                               asp-page="@child.Route">
                                            <i class="@child.Icon"></i>
                                            <div> @child.Name </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()

                <div id="messageModal" class="modal" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><i class="fas fa-info-circle text-warning me-1"></i><span id="messageModalTitle"></span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><span id="messageModalMessage"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Lukk</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="errorModal" class="modal" data-bs-backdrop="static" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><i class="fas fa-exclamation-triangle text-danger me-1"></i><span id="errorModalTitle"></span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><span id="errorModalMessage" style="white-space: pre;"></span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Lukk</button>
                            </div>
                        </div>
                    </div>
                </div>


            </main>
        </div>
    </section>

    <footer class="border-top footer ">
        <div class="container">
            &copy; 2022 - Budgeting - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vue-bootstrap-datetimepicker/vue-bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/vue/vue.global.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vueComponents.js" asp-append-version="true"></script>
    <script src="~/js/feedback.js" asp-append-version="true"></script>
    <script src="~/js/orderByHandler.js" asp-append-version="true"></script>
    <script src="~/js/api.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
